<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>/var/log/stackexchange/stack.log</file>
		<encoder>
			<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- http://loggly.com/support/sending-data/logging-from/application-logs/java/ -->
	<!-- https://github.com/chids/logback-loggly-appender -->
	<!-- https://baeldung.loggly.com/inputs/49074 -->
	<!-- <appender name="REMOTESYSLOG" class="ch.qos.logback.classic.net.SyslogAppender"> -->
	<!-- <syslogHost>logs.loggly.com</syslogHost> -->
	<!-- <port>12345</port> -->
	<!-- <facility>LOCAL1</facility> -->
	<!-- <suffixPattern>[%thread] %logger %msg</suffixPattern> -->
	<!-- </appender> -->

	<appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<smtpHost>email-smtp.us-east-1.amazonaws.com</smtpHost>
		<username>AKIAJIKXZAQFFJDXI4VQ</username>
		<password>AjYQNjXVTalbpfRL37RYqyXEkyQAvmKFcUFQllfAsBLh</password>
		<SSL>true</SSL>
		<to>hanriseldon@gmail.com</to>
		<from>hanriseldon@gmail.com</from>
		<subject>stackexchange: %logger{20} - %m</subject>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>stackexchange - %date [%thread] %-5level %logger{36} - %message%n</pattern>
		</layout>
		<cyclicBufferTracker>
			<bufferSize>1000</bufferSize>
		</cyclicBufferTracker>
	</appender>

	<logger name="org.common" level="INFO" />
	<logger name="org.tweet" level="INFO" />
	<logger name="org.tweet.meta" level="INFO" />
	<logger name="org.gplus" level="INFO" />
	<logger name="org.rss" level="INFO" />
	<logger name="org.stackexchange" level="DEBUG" />

	<logger name="org.apache.http" level="INFO" />

	<root level="WARN">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<!-- <appender-ref ref="EMAIL" /> -->
		<!-- <appender-ref ref="REMOTESYSLOG" /> -->
	</root>

</configuration>